body {
    background-color: #fcf8fe
}
.overflow-scroll::-webkit-scrollbar {
    display: none;
}

.overflow-scroll {
    scrollbar-width: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
